
ul.token-input-list {
    margin: 0;
    padding: 0;
    height: auto;

    li {
        list-style-type: none;
        display: block !important;
        font-size: .8rem !important;
        line-height: 1.2rem !important;

        input {
            display: block;
            clear: both;
            margin: 3px 0 0 !important;
            border: 0 none !important;
            outline: 0 none !important;
            width: 100% !important;
        }
    }
}

li.token-input-token {
    display: block;
    clear: both;
    height: 1.4rem;
    margin: 0;
    padding: 2px 5px 3px;
    font-weight: bold;
    cursor: default;
    background-color: $secondary-color;

    p {
        float: left;
        padding: 0;
        margin: 0;
        background-color: transparent;
        font-size: inherit !important;
        line-height: inherit !important;
    }

    span {
        float: right;
        color: #777;
        font-weight: bold;
        cursor: pointer;
        background-color: transparent;
    }
}
/*
li.token-input-selected-token {
    color: #fff;
    background-color: $success-color;

    span { color: #fff; }
}

li.token-input-highlighted-token {
    color: #fff;
    background-color: $primary-color;

    span { color: #fff; }
}
*/
div.token-input-dropdown {
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    z-index: 10000;

    p, ul li { font-size: 80%; }

    p {
        margin: 0;
        padding: 2px 4px;
        font-style: italic;
        color: #777;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            padding: 2px;
            background-color: #fff;
            list-style-type: none;

            &.token-input-dropdown-item { background-color: #fafafa; }
            &.token-input-dropdown-item2 { background-color: #fff; }

            &.token-input-selected-dropdown-item {
                color: #fff;
                background-color: $primary-color;
            }

            em {
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}

