/***************************************************************************************************

        Jalon v4.5

    Feuille de style de developpement :

        - ajoutez ici les modifs CSS souhaitees pour l'affichage des templates sur lesquels
          vous travaillez ;
        - utilisez de nouvelles classes ou ID inutilisées dans les autres templates afin d'etre
          sur de ne rien casser ;
        - précisez en commentaire le chemin/du/template cible ;
        - pour qu'elle soit chargee, decommentez le bloc « CSS Dev » lignes 91-93 de
          « theme/skins/jalon_theme_custom_templates/head_macro.pt ».
*/


/* 
    rappel du style "sup" présent sur le plan du cours  sur la barres d'onglets de la doite de dépots
    fichier cours_boite_view
*/
#boite .sup {
    position: absolute;
    top: 0;
    display: inline-block;
    background-color: #f04124;
    color: #fff;
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: -0.33em;
    vertical-align: top;
    padding: 2px .5em;
    text-shadow: none;
    border: 2px solid #fff;
    z-index: 10;
    border-radius: 1em;
    margin-left: .5em;
}

/*
    css utilsé dans la liste des dépôts
    fichier : macro_cours_boite
    macro   : boite;
*/
#js-listeDepots .list .dropdown
{
    margin-top: 0.6rem;
}

#js-listeDepots .list .discreet
{
    font-size: 0.73125rem;
    font-style: italic;
}

#js-listeDepots .list .activer
{
    color:green;
}

#js-listeDepots .list .desactiver
{
    color:red;
}

/*
    css utilsé dans la liste des video
    fichier : macro_video_list
    macro   : video;

    fichier : videos_pod;
*/
/*
#elasticsearch h4
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
*/
#elasticsearch .flex-video
{
    padding-top: 0;
    margin-bottom: 0.5rem;
}
#pagination-page_number input[type="number"]
{
    width:50px;
}
