/***************************************************************************************************

        Jalon v4.5

    Feuille de style de developpement :

        - ajoutez ici les definitions CSS necessaires pour l'affichage des templates sur lesquels
          vous travaillez, en attendant leur integration dans les fichiers geres par CodeKit ;
        - utilisez de nouvelles classes ou ID inutilisees ailleurs afin de ne rien casser ;
        - precisez en commentaire le chemin/du/template concerne ;
        - pour qu'elle soit chargee, decommentez le bloc « CSS dev » du fichier de template
          « theme/skins/jalon_theme_custom_templates/head_macro.pt » (lignes 91-93).
*/


/*
    rappel du style "sup" présent sur le plan du cours sur la barre d'onglets de la boite de dépots
    fichier cours_boite_view
*/
#boite .sup {
    position: absolute;
    top: 0;
    display: inline-block;
    background-color: #f04124;
    color: #fff;
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: -0.33em;
    vertical-align: top;
    padding: 2px .5em;
    text-shadow: none;
    border: 2px solid #fff;
    z-index: 10;
    border-radius: 1em;
    margin-left: .5em;
}

/*
    css utilsé dans la liste des dépôts
    fichier : macro_cours_boite
    macro   : boite;
*/
#js-listeDepots .list .dropdown
{
    margin-top: 0.6rem;
}

#js-listeDepots .list .discreet
{
    font-size: 0.73125rem;
    font-style: italic;
}

#js-listeDepots .list .activer
{
    color:green;
}

#js-listeDepots .list .desactiver
{
    color:red;
}

/*----------*/
/*La classe "debug" permet d'afficher des elements à l'écran pendant les tests, avec une couleur bien criarde,
 histoire de ne pas oublier de les retirer avant de faire un commit !*/
.debug{
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    padding:3px;
}


/*----------*/
/* la classe "disabled" indique un element de formulaire non accessible à l'utilisateur connecté.
 avec le css ci-dessous, on associe au label associé un visuel clair indiquant que l'action n'est pas possible (le texte est barré)
   - a voir par exemple dans le fichier macro_mescours.pt, ligne 657 (correspond à l'action "supprimer les activités WIMS" du bouton d'action général d'un cours, pour le co-auteur.)
 */
.disabled label{
    text-decoration: line-through;
    cursor:initial;
}

/*
    css utilsé dans la liste des video
    fichier : macro_video_list
    macro   : video;

    fichier : videos_pod;
*/
#elasticsearch .flex-video
{
    padding-top: 0;
    margin-bottom: 0.5rem;
}
#pagination-page_number input[type="number"]
{
    width:50px;
}

/*
    css utilsés dans les indicateurs du cours
    fichier : macro_cours_indicateurs
    macro   : indicateurs_ressources
*/

#cours_indicateurs ul#tab_button-group {
    margin-bottom: 1rem;
}

#cours_indicateurs nav {
    margin-bottom: 1rem;
}
#cours_indicateurs nav .button {
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    font-size: 90%;
    width: 32%;
    cursor: pointer;
    display: inline-block !important;
    font-family: Tahoma,Verdana,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 0.5rem;
    padding: 0.5625rem 1.125rem 0.625rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
}

#cours_indicateurs nav .button.res-fichiers {
    background-color: #e78841;
    border-color: #227da3;
    border-radius: 5px;
    color: #fff;
}

#cours_indicateurs nav .button.res-fichiers:hover, #cours_indicateurs nav .button.res-fichiers:focus, #cours_indicateurs nav .button.res-fichiers.selected {
    background-color: #d2691b;
}

#cours_indicateurs nav .button.res-connect {
    background-color: #79a445;
    border-color: #227da3;
    border-radius: 5px;
    color: #fff;
}

#cours_indicateurs nav .button.res-connect:hover, #cours_indicateurs nav .button.res-connect:focus, #cours_indicateurs nav .button.res-connect.selected {
    background-color: #618337;
}

#cours_indicateurs nav .button.res-liens {
    background-color: #f1c340;
    border-color: #227da3;
    border-radius: 5px;
    color: #fff;
}

#cours_indicateurs nav .button.res-liens:hover, #cours_indicateurs nav .button.res-liens:focus, #cours_indicateurs nav .button.res-liens.selected {
    background-color: #e3ad11;
}

#cours_indicateurs nav .off {
    background-color: #e7e7e7;
    border-color: #b9b9b9;
    border-radius: 5px;
    color: #333;
    margin-bottom: 0.5rem !important;
}

#cours_indicateurs nav .off:hover {
    background-color: #b9b9b9;
    border-color: #b9b9b9;
}

#cours_indicateurs nav .selected {
    background-color: #2a9ccc;
    border-color: #227da3;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 0.5rem !important;
}

#cours_indicateurs nav .selected:hover {
    background-color: #227da3;
    border-color: #227da3;
}

/*
    css utilsés dans l'évaluation par les pairs
    fichier : evaluate_deposit_file_form
*/
.tabs dd.active > a, .tabs .tab-title.active > a {
    background-color: #2a9ccc;
    color: #fff;
}

.peer_evaluate {
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 0.75rem 0.625rem;
}